#main{
    background-color: chocolate;
    border: 10px solid black;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    overflow: auto;
}
@media screen and (min-width:0px) and (max-width:450px) {
    #main{
        display: flex;
        justify-content: center;
    }
    
}
img{
    height: 250px;
    width: 250px;
    /* border: 10px solid; */
}
#class1:hover{
    border: 10px solid greenyellow;
    padding: 30px;
    background-color:burlywood;
    border-radius: 30px;  
    box-shadow: 10px 5px 10px black;

}
#class2:hover{
    border: 10px solid dimgray; 
    padding: 30px;
    background-color:burlywood;
    border-radius: 30px;
    box-shadow: 10px 5px 10px black;
}
#class3:hover{
     border: 10px solid green; 
    padding: 30px;
    background-color:burlywood;
    border-radius: 30px;
    box-shadow: 10px 5px 10px black;
    
}
#name{
    border: 3px solid black;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    background-color:white;
}
.sec{
    background-color: rgb(45, 55, 172);
    padding: 5px;
    border-radius: 20px;

}
#para{
    border: 3px solid black;
    width: 450px;
    overflow-y: scroll;
    height: 200px;
    border-radius: 30px;
    background-color: beige;
}
::-webkit-scrollbar{
    display: none;
}
