img{
    height: 250px;
    width: 250px;
}
/* @media screen and (min-width:0px) and (max-width:425px){
    .gc,.p2{
        display: none;
    }
}
@media screen and (min-width:426px) and (max-width:675px){
    .og,.p2{
        display: none;
    }
}
@media screen and (min-width:675px){
    .og,.gc{
        display: none;
    }
} */
 #color{
    border: 8px solid black;
    padding: 30px;
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    overflow:auto;
    
 }
 #img1{
    border: 7px solid black;
    padding: 30px;
    background-color: cornsilk;
    box-shadow: 5px 5px 9px blue;
    /* display: flex;
    justify-content: center; */
 }
 #name{
    border: 3px solid black;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    background-color:white;
 }
 #img2{
    border: 7px solid black;
    padding: 30px;
    background-color: cornsilk;
    box-shadow: 5px 5px 9px blue;
    
 }
 #img3{
    border: 7px solid black;
    padding: 30px;
    background-color: cornsilk;
    box-shadow: 5px 5px 9px blue;
 }
 #para{
    border: 3px solid blue;
    width: 350px;
    overflow-y: scroll;
    height: 200px;
 }
 ::-webkit-scrollbar{
    display: none;
 }